body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    color:black;
}

p{
    margin: 0;
}

.container {
    max-width: 500px;
}

input[type=text],
input[type=text]:focus {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 500px;
}


.todos li{
    background:#2c4b79;
}

.fon-s{
    font-size:12px;
}

.delete{
    cursor: pointer;
    color:black;
}

.check{
    cursor:pointer;
}



.checkbtn {
	position: relative;
	margin: 0 1rem 0 0;
	cursor: pointer;
} 

input[type=checkbox].checkbtn {
    transform: scale(1.6);
}


.checkbtn:before {
	position: absolute;
	z-index: 1;
	top: 0.125rem;
	left: 0.1875rem;
	width: 0.75rem;
	height: 0.375rem;
	content: '';
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	        transition:         transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
	-webkit-transform: rotate(-45deg) scale(0, 0);
	        transform: rotate(-45deg) scale(0, 0);
	border: 2px solid #da3c41;
	border-top-style: none;
	border-right-style: none;
}
.checkbtn:checked:before {
	-webkit-transform: rotate(-45deg) scale(1, 1);
	        transform: rotate(-45deg) scale(1, 1);
}
.checkbtn:after {
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 1rem;
	height: 1rem;
	content: '';
	cursor: pointer;
	border: 2px solid #f2f2f2;
	background: #ffffff;
}



.filtered{
    display: none!important;
}