body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: white;
    color:black;
}

p{
    margin: 0;
}

.container {
    max-width: 500px;
}

input[type=text],
input[type=text]:focus {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 500px;
}



/* .add input.add-form{
    width:80%;
}

.add .picker{
    width:10%;
} */

.todos li{
    background:#2c4b79;
}

.fon-s{
    font-size:12px;
}

.delete{
    cursor: pointer;
    color:black;
}

.check{
    cursor:pointer;
}


.filtered{
    display: none!important;
}